/* .title {
    font-family: Calibri, bold;
    font-size: 45px;
    text-align: left;
}
.paragraph {
    font-family: Calibri;
    font-size: 20px;
    text-align: left;
    max-width: 500px;
}
.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    padding: 60px;
}
.text {
    flex: 1;
    max-width: 50%;
}
.image {
    flex: 1;
    max-width: 30%;
}
.image img {
    width: 300px;
    height: auto;
} */

.title {
    font-family: Calibri, bold;
    font-size: 45px;
    text-align: left;
}
.paragraph {
    font-family: Calibri;
    font-size: 20px;
    text-align: left;
    max-width: 500px;
}
.container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap if container width is reduced */
    justify-content: center; /* Center items horizontally */
    align-items: center;
    padding: 60px;
}
.text {
    flex: 1; /* Take up remaining space */
    max-width: 50%; /* Limit width to 50% of container */
    margin-right: 20px; /* Adjust margin between text and image */
}
.image {
    flex: 1; /* Take up remaining space */
    max-width: 30%; /* Limit width to 30% of container */
    margin-left: 20px; /* Adjust margin between text and image */
}
.image img {
    width: 100%; /* Ensure image fills its container */
    height: auto;
}
